@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: var(--text);
    background: var(--background);
    padding: 128px 16px 16px 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button, a {
    font-size: 16px;
    color: var(--text);
    background: var(--button);
    text-decoration: none;
    border: none;
    font-weight: 600;
    box-shadow: 0 0 32px var(--shadow);
    transition: 0.2s ease background;
    transition: 0.2s ease box-shadow;
    cursor: pointer;
}

button:hover, a:hover {
    background-color: var(--button-hover);
    box-shadow: 0 0 32px var(--shadow),
                0 1px 1px var(--shadow),
                0 2px 2px var(--shadow),
                0 4px 4px var(--shadow),
                0 8px 8px var(--shadow),
                0 16px 16px var(--shadow),
                0 32px 32px var(--shadow);
}

header {
    max-width: 1140px;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    align-items: center;
}

header img {
    margin-right: 16px;
}

header h1 {
    font-size: 48px;
    font-weight: 700;
}

main {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

main button {
    height: 256px;
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

main button svg {
    margin-bottom: 16px;
    transform: translateZ(40px);
}

main button span {
    transform: translateZ(20px);
}

footer {
    max-width: 1140px;
    margin: 0 auto;
    padding: 48px 0;
    display: flex;
    flex-direction: row;
}

footer button, footer a {
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

#waving-hand-sign {
    animation: wave 0.2s 4 alternate;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(45deg);
    }
}